
<div class="bottom-container">
  <a
    class="footer-link"
    href="https://www.linkedin.com/in/vidushi-tyagi-51b2511aa/"
    >LinkedIn</a
  >
  <br />
  <p class="copyright">© 2021 Vidushi Tyagi.</p>
  </div>
</div>
