<%- include("partials/header") %>

<link rel="stylesheet" href="css/aboutPage.css"/>
<link rel="stylesheet" href="css/homePage.css" />
<link rel="stylesheet" href="css/footer.css"/>
<div class="top-container">
    <img class="top-cloud" src="images/cloud.png" alt="cloud-img">
    <h1>I'm Vidushi</h1>
    <h2 class"about">a programmer.</h2>
    <img class="bottom-cloud" src="images/cloud.png" alt="cloud-img">
    <img src="images/mountain.png" alt="mountain-img">

  </div>
  <div class="middle-container">
    <div class="profile">
      <img class="dp" src="images/profile-pic.png" alt="">
      <h2>Hello.</h2>
      <p class="intro">I am currently a sophomore majoring in Computer Science and Engineering </p>
    </div>
    <hr>
    <div class="skills">
      <h2>About the Project.</h2>
      <div class="skill-row">
        <img class="microsoft-img" src="images/microsoft.png" alt="coding img">
        <h3>The Challenge</h3>
        <p class="code-skill-desc">This project is the solution to the challenge posed by Microsoft India Team as a part of the Engagement & Mentorship Program – Engage 2021 for engineering students. The challenge statement was , "Your solution should be a fully functional prototype with at least one mandatory functionality - a minimum of two participants should be able connect with each other using your product to have a video conversation."</p>
      </div>
      <div class="skill-row">
        <img class="coding-img" src="https://media.giphy.com/media/dBlZwFc1QjzXseX7aT/giphy.gif" alt="coding img">
        <h3>My Journey.</h3>
        <p class="pizza-desc">Through this initiative, I got a chance to be mentored by Microsoft and be a part of AMA Sessions, Webinars and Leader talks delivered by Microsoft employees and got insights on how real world work in the done in the industry. I had a lot of fun working on this project and learned a great deal during these four weeks. I also got to team up with students of different colleges and had a lot of fun learning sessions with them as well.</p>
      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Github Repository</h2>
      <!-- <h3>If you love pizza as much as I do.</h3> -->
      <img class="github-img" src="https://media.giphy.com/media/du3J3cXyzhj75IOgvA/giphy.gif" alt="github img">
      <a class="github-btn" href="https://github.com/vidushityagi8/bonjour-video-app"> GITHUB REPO</a>
    </div>
  </div>
  <%- include("partials/footer") %> 

</div>
</div>
</section>
</body>
</html>