<%- include("partials/header") %>

<link rel="stylesheet" href="css/aboutPage.css"/>
<link rel="stylesheet" href="css/homePage.css" />
<div class="top-container">
    <img class="top-cloud" src="images/cloud.png" alt="cloud-img">
    <h1>I'm Vidushi</h1>
    <h2 class"about">a programmer.</h2>
    <img class="bottom-cloud" src="images/cloud.png" alt="cloud-img">
    <img src="images/mountain.png" alt="mountain-img">

  </div>
  <div class="middle-container">
    <div class="profile">
      <img class="dp" src="images/profile-pic.png" alt="">
      <h2>Hello.</h2>
      <p class="intro">I am currently a sophomore majoring in Computer Science and Engineering </p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="code-img" src="images/code.png" alt="coding img">
        <h3>Design and Development</h3>
        <p class="code-skill-desc">I am currently learning Web Development and Machine Learning. I am also good at problem solving using various Data Structures and Algorithms. I am looking for an entry level position to hone my skills.</p>
      </div>
      <div class="skill-row">
        <img class="pizza-img" src="https://media.giphy.com/media/5ESKr27v8mjBe/giphy.gif" alt="pizza img">
        <h3>I Love Pizza</h3>
        <p class="pizza-desc">I can eat pizza all day long. It's one of the best things that ever happened to me.</p>
      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you love pizza as much as I do.</h3>
      <p class="contact-message">Love Pizza as much as I do? Let's talk about how awesome they are while we code.</p>
      <a class="btn" href="mailto:name@email.com"> CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/vidushi-tyagi-51b2511aa/">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/">Twitter</a>
    <a class="footer-link" href="https://www.appbrewery.co/">Website</a><br>

    <p class="copyright">© 2021 Vidushi Tyagi.</p>
  </div>

</div>
</div>
</section>
</body>
</html>