<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Data from server -->

    <script>
      const ROOM_ID = "<%=obj.roomId%>";
      const userName = "<%=obj.userName%>";
    </script>

    <!-- Peerjs script -->

    <script
      defer
      src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"
    ></script>

    <!-- Socket.io Script -->

    <script src="/socket.io/socket.io.js" defer></script>

    <!-- Main Logic Script -->

    <script src="js/script.js" defer></script>

    <!-- Google Fonts Scripts -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />

    <!-- CSS Scripts -->

    <link rel="stylesheet" href="css/callPage/callPage.css" />
    <link rel="stylesheet" href="css/callPage/videoSection.css" />
    <link rel="stylesheet" href="css/callPage/callControls.css" />
    <link rel="stylesheet" href="css/callPage/chatSection.css" />
    <link rel="stylesheet" href="css/callPage/participantSection.css" />

    <!-- Bootstrap Script -->

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <!-- Bootstrap Script -->

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>

    <title>Room</title>

    <!-- Fontawesome Script -->

    <script
      src="https://kit.fontawesome.com/2fe739a957.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section>
      <div class="container-fluid">
        <div class="room-container row">
          <!-- ========= VIDEO ========= -->
          <div class="video-section col-12">
            <!-- All the videos -->
            <div class="video-screen">
              <div id="video-grid"></div>
            </div>

            <!-- Video controls -->
            <div class="video-controls">
              <div id="video-btn-row" class="video-controls-buttons row">
                <!-- copy room ID -->
                <div
                  class="room-id-copy bottom-btn"
                  onClick="copyToClipboard()"
                  onmouseout="outFunc()"
                >
                  <span class="tooltiptext">Copy to clipboard</span>
                  <i class="fas fa-user-plus"></i>

                  <!-- <span>Copy RoomID</span> -->
                </div>

                <!-- mute -->

                <div class="bottom-btn">
                  <div onclick="toggleMute()">
                    <i class="mute-unmute fas fa-microphone"></i>
                  </div>
                </div>

                <!-- stop video -->
                <div class="bottom-btn">
                  <div onclick="toggleVideo()">
                    <i class="play-stop fas fa-video"></i>
                  </div>
                </div>

                <!-- chat -->
                <div class="bottom-btn">
                  <div onclick="toggleChat()">
                    <i class="fas fa-comment"></i>
                  </div>
                </div>
                <!-- Raise hand -->
                <div class="bottom-btn">
                  <div onclick="raiseHand()">
                    <i class="hand-raise fas fa-hand-paper"></i>
                  </div>
                </div>
                <!-- show participants -->
                <div class="bottom-btn">
                  <div onclick="toggleParticipants()">
                    <i class="fas fa-users"></i>
                  </div>
                </div>

                <!-- leave meeting -->
                <a href="/meet-left"
                  ><div class="bottom-btn leave">
                    <!-- <div onClick="leaveMeeting()"></div> -->
                    <i class="fas fa-phone end"></i></div
                ></a>
              </div>
            </div>
          </div>

          <!-- ========= CHAT ========= -->
          <div class="chat-section col-3">
            <div class="chat-header">
              <h6>Chat</h6>
              <hr />
            </div>

            <div class="chat-window">
              <div class="messages container-fluid"></div>
            </div>

            <div class="message-input">
              <input
                id="message"
                type="text"
                placeholder="Type message here..."
              />
            </div>
          </div>

          <!-- ========= PARTICIPANTS ========= -->

          <div class="participants-section col-3">
            <div class="chat-header">
              <h6>Participants</h6>
              <hr />
            </div>

            <div class="participants"></div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
