<%- include("partials/header") %>
<link rel="stylesheet" href="css/homePage.css" />
<link rel="stylesheet" href="css/leavePage.css" />
<link rel="stylesheet" href="css/footer.css"/>
<div class="container-fluid">
	<h1>You left the meeting.</h1>
	<a href="/">
		<div class="col-md-12 text-center"><button class="btn home-button">Home Page</button></div>
	</a>
</div>
<%- include("partials/footer") %> 
</div>
</section>
</body>
</html>