.container-fluid {
  background-color: #aad8d3;
  padding: 7% 15% 15% 20%;
}

h1 {
  font-size: 3.5rem;
  padding: 7% 15%;
  text-align: center;
  color: #2f5d62;
}

.btn {
  background: linear-gradient(to bottom, #11999e 5%, #11999e 100%);
  background-color: #11999e;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
